<!DOCTYPE html >
<head>
  <base href="__PUBLIC__/home/shop/">
<title>食为天--客服</title>
<meta name="keywords" content="HTML5"/>
<meta name="description" content="HTML5"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/apply.css">
<link rel="stylesheet" type="text/css" href="css/share.css">
<link rel="stylesheet" type="text/css" href="css/public.css">
<script type="text/javascript" src="js/jquery.js"></script>

</head>

<body>
<div id="wrap" class="clearfix overflow mg-auto"> 
   <div class="apply-nav overflow mg-auto area">
        <div class="overflow clearfix apply-top border-bom">
            <a href="{:url('show/show2')}" class="apply-return">返回</a>
            <h2>食为天</h2>
            <a href="search/default.htm" class="apply-sou" style="visibility:hidden">搜索</a>
            <a href="#" class="apply-pup">弹出</a>
        </div>
        <div class="i-icon mg-auto overflow area clearfix" id="apply-pup-icon">
            <ul class="clearfix">
                    <li><a href="pro-list.html" class="i-icon-tao"><img src="img/app_01.png"></a></li>
                    <li><a href="pro-list.html" class="i-icon-game"><img src="img/app_02.png"></a></li>
                    <li><a href="other-list.html" class="i-icon-bizhi"><img src="img/app_03.png"></a></li>
                    <li><a href="news.html" class="i-icon-zhuan"><img src="img/app_04.png"></a></li>
		     </ul>
        </div>     
   </div>
   <style>
	.crumbs{height: 3em;line-height: 3em;width: 100%;padding-left: 1em;font-family: microsoft yahei;font-size: 1.5em;color: #696666;}
	.crumbs a{color:#65BAF1;}
   </style>
   <div class="crumbs">
   	<a href="{:url('show/show2')}">首页</a> >  客服
   </div>

   
  </div>

  <div class="floatDtxt"><b style="color: red;font-size: 18px;">在线客服</b></div>
<ul class="floatDqq">
<li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin=602966250&amp;Site=sc.chinaz.com&amp;Menu=yes"><img src="images/q.jpg" align="absmiddle" width="80px;" height="80px" >&nbsp;&nbsp;在线客服1号</a></li>
<br />
<li style=""><a target="_blank" href="tencent://message/?uin=1157781340&amp;Site=sc.chinaz.com&amp;Menu=yes"><img src="images/q.jpg" align="absmiddle" width="80px;" height="80px" >&nbsp;&nbsp;在线客服2号</a></li>
<br />
<li style=""><a target="_blank" href="tencent://message/?uin=625593425&amp;Site=sc.chinaz.com&amp;Menu=yes"><img src="images/q.jpg" align="absmiddle" width="80px;" height="80px" >&nbsp;&nbsp;在线客服3号</a></li>
</ul><br />

<b style="color: red;">热线电话</b></div><br />
<div class="floatDtel"><b></b>小韩：1234567890</div><br />
<div class="floatDtel"><b></b>小余：9876543210</div><br />
<div class="floatDtel"><b></b>小江：8888888880</div><br />


<script type="text/javascript" src="js/com.js"></script> 

   <!--底部-->
  <div style="margin-top:15px;display: block;border-bottom: solid 1px #FFF;border-top: solid 1px #cacaca;text-indent: -9999px;height: 0px;">line</div>
  <div style="width: 100%; height: 3.8em; line-height: 3.8em; text-align: center; color:#666">食为天--Eating For Life!</div> 
  
</div>

</body> 


</html>