<!DOCTYPE html >
<head>
  <base href="__PUBLIC__/home/shop/">
<title>食为天--用户修改</title>
<meta name="keywords" content="HTML5"/>
<meta name="description" content="HTML5"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/apply.css">
<link rel="stylesheet" type="text/css" href="css/share.css">
<link rel="stylesheet" type="text/css" href="css/public.css">
<script type="text/javascript" src="js/jquery.js"></script>

</head>

<body>
<div id="wrap" class="clearfix overflow mg-auto"> 
   <div class="apply-nav overflow mg-auto area">
        <div class="overflow clearfix apply-top border-bom">
            <a href="{:url('show/show1')}" class="apply-return">返回</a>
            <h2>食为天</h2>
            <a href="search/default.htm" class="apply-sou" style="visibility:hidden">搜索</a>
            <a href="#" class="apply-pup">弹出</a>
        </div>
        <div class="i-icon mg-auto overflow area clearfix" id="apply-pup-icon">
            <ul class="clearfix">
                    <li><a href="pro-list.html" class="i-icon-tao"><img src="img/app_01.png"></a></li>
                    <li><a href="pro-list.html" class="i-icon-game"><img src="img/app_02.png"></a></li>
                    <li><a href="other-list.html" class="i-icon-bizhi"><img src="img/app_03.png"></a></li>
                    <li><a href="news.html" class="i-icon-zhuan"><img src="img/app_04.png"></a></li>
		     </ul>
        </div>     
   </div>
   <style>
	.crumbs{height: 3em;line-height: 3em;width: 100%;padding-left: 1em;font-family: microsoft yahei;font-size: 1.5em;color: #696666;}
	.crumbs a{color:#65BAF1;}
   </style>
   <div class="crumbs">
   	<a href="{:url('show/show1')}">首页</a> > 用户资料
   </div>
   <div class="special overflow clearfix area mg-auto">
  <div class="special-img area clearfix">
   
  </div>
  <div class="special-detail clearfix">

    <div class="clearfix detail-wrap">          
        <center>
        <form action="{:url('User/savedo')}?id=<?php echo $v['u_id'];?>" method="post">
     <br>      
<table border="1">
  <tr>
    <td>序号</td>
    <td><?php echo $v['u_id']?></td>
  </tr>

      
<tr>
  <td>账号</td>
  <td><input type="" name='account' value="<?php echo $v['account']?>"></td>
</tr>


<tr>
  <td>电话</td>
  <td><input type="" name='tel' value="<?php echo $v['tel']?>"></td>
</tr>
  
<tr>
  <td>邮箱</td>
  <td><input type="" name='email' value="<?php echo $v['email']?>"></td>
</tr>

<tr>
  <td>时间</td>
  <td><?php echo $v['add_time']?></td>
</tr>    

</table>

        <input type="submit" value="保存修改">
  
        </form>
        </center>
    </div>
  </div>
</div>



<script type="text/javascript" src="js/com.js"></script> 


  
   <!--底部-->
  <div style="margin-top:15px;display: block;border-bottom: solid 1px #FFF;border-top: solid 1px #cacaca;text-indent: -9999px;height: 0px;">line</div>
  <div style="width: 100%; height: 3.8em; line-height: 3.8em; text-align: center; color:#666">食为天--Eating For Life!</div> 
  
</div>

</body> 


</html>