<!DOCTYPE html >
<head>
<title>首页</title>
<base href="__PUBLIC__/home/shop/">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/apply.css">
<link rel="stylesheet" type="text/css" href="css/share.css">
<link rel="stylesheet" type="text/css" href="css/public.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/swiper-2.1.min.js"></script>
<script type="text/javascript" src="js/lazyload.js"></script>

<script type="text/javascript" charset="utf-8">   
        $(function() {   
            $("img").lazyload({
        effect      : "fadeIn"
      });
        });   
    </script>
</head>

<body>
<div id="wrap" class="clearfix overflow mg-auto">    
  <div class="i-head mg-auto overflow area border-bom">
     <h1>人以食为天</h1>
  </div>

  <!--焦点图开始-->
    <div class="swiper-container overflow" style="height: 327px;">
    
        <div class="swiper-wrapper" id="swiper-wrapper">
            <div class="swiper-slide" style="height: 327px; width: 640px;">
                <a href="#"><img src="images/banner.jpg" alt="#" title="#" width="640px" height="327px"></a>
            </div>
        
            <div class="swiper-slide" style="height: 327px; width: 640px;">
                <a href="#"><img src="images/banner2.jpg" alt="#" title="#" width="640px" height="327px"></a>
            </div>
        </div> 

        <div class="pagination"></div> 
    
    </div>
  <script type="text/javascript">        
         var newSlideSize = function slideSize(){
            var w = Math.ceil($(".swiper-container").width()/1.96);
            $(".swiper-container,.swiper-wrapper,.swiper-slide").height(w); 
         };
         newSlideSize();
         $(window).resize(function(){
           newSlideSize();
         });
    </script> 
  <!--焦点图结束-->
  
  <!--快捷菜单开始-->
    <div class="i-icon mg-auto overflow area clearfix">
        <ul class="clearfix">
           <li><a href="pro-list.html" class="i-icon-tao"><img src="images/icon2.png"></a></li>
           <li><a href="pro-list.html" class="i-icon-game"><img src="images/icon1.png"></a></li>
           <li><a href="other-list.html" class="i-icon-bizhi"><img src="images/icon3.png"></a></li>
           <li><a href="news.html" class="i-icon-zhuan"><img src="images/icon6.png"></a></li>
        </ul>
    </div>
  <!--快捷菜单结束-->
    
  <!--最热开始-->
    <div class="i-tab mg-auto overflow area clearfix">
      <div class="i-tab-title">
          <h2></h2>
          <div class="tab-btn" id="">
            <p class="mg-auto clearfix">
             <a href="javascript:;" class="tab-cur"></a>
             <a href="javascript:;">分类</a>
            </p>
          </div>
      </div>
      <div class="tab-content clearfix overflow" id="con1">
         <div class="clearfix tab-con2 tab-con-info">
             <ul class="clearfix">
                 {foreach name='type' item='one'}
                <li>
                   <i href="soft/list_956_1.html" class="tab-con-href2 clearfix">
                     <div class="img2"><img src="img/loading.png" original="images/qbx_logo.jpg" alt="" title=""></div>
                     <h4 class="one" t_id="{$one.t_id}" >{$one.dish}</h4>
                   </i>
                </li>
                 {/foreach}
             </ul>        
         </div>
      </div>
    </div>
  <!--最热结束-->

    <!--底部-->
  <div style="margin-top:15px;display: block;border-bottom: solid 1px #FFF;border-top: solid 1px #cacaca;text-indent: -9999px;height: 0px;">line</div>
  <div style="width: 100%; height: 3.8em; line-height: 3.8em; text-align: center; color:#666"></div>
    <input type="hidden" id="url" value="{:url('index/type')}">
</div>

</body> 
<script type="text/javascript" src="js/com.js"></script>
<script type="text/javascript">
    window.onload = function(){
      var mySwiper = new Swiper('.swiper-container',{
        pagination: '.pagination',
        loop:true,
        autoplay:3000,
        paginationClickable: true,
        onSlideChangeStart: function(){
           //会调函数
        }
      });
      cTab("#tab1","#con1");
      cTab("#tab2","#con2");
    };
    $(function(){
        $('.one').click(function(){
            var id = $(this).attr('t_id');
            var url = $("#url").val();
            location.href=url+'?id='+id;
        })
    })
</script>

</html>