<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="__PUBLIC__/home/more/">
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="FamousThemes" />
<meta name="description" content="Get in the spotlight" />
<meta name="keywords" content="premium css templates, premium wordpress themes, famous themes, themeforest" />
<title>Show</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<!-- Hide Mobiles Browser Navigation Bar -->
<script type="text/javascript">
window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
	// Hide the address bar!
	window.scrollTo(0, 1);
	}, 0);
});
</script>
</head>
<body>
<div id="main_container">
	<div class="logo">
    </div>
<div class="menu">
<ul>

<li><a href="{:url('restaurant/choice')}"><img src="images/icon4.png" border="0" alt="" title=""/>选菜</a></li>
<li><a href="{:url('settled/index')}"><img src="images/icon5.png" border="0" alt="" title=""/>入驻管理</a></li>
<li><a href="{:url('restaurant/save')}"><img src="images/icon1.png" border="0" alt="" title=""/>饭店资料</a></li>
<li><a href="{:url('show/r_order')}"><img src="images/icon3.png" border="0" alt="" title=""/>饭店订单</a></li>
<li><a href="{:url('service/index2')}"><img src="images/icon2.png" border="0" alt="" title=""/>客服</a></li>
<li><a href="{:url('login/loginout')}"><img src="images/icon6.png" border="0" alt="" title=""/>退出登录</a></li>


</ul>
</div>

</div>
</body>
</html>